html {
    height: 100%;
    position: relative;
  }
  
  body {
    margin: auto;
      padding: 0px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12pt;
      font-weight: 300;
      max-width: 300em;
      
  }

/*css code for header*/

.topnav {
  overflow: hidden;
  background-color: #0A2E56;
    
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
  font-size: 20px;
}


.topnav .logo{
    color: white;
    font-weight: bold;
    font-size: 24px;
}


.topnav .try-free{
    float: right;
    margin-top: 2em;
    color: white;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}
.topnav .head{
    float: left;
    margin: 1em;
    font-size: 30px;
    color: white;
    font-weight: bold;
    
}

.topnav .navbar:hover,
.active:hover
{
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: #E57B64;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
      
  }
}

/* CSS code for contact nav bar: */

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0 .5em .5em 0;
  text-decoration: none;
  display: block;
    margin: 3em;
    width: 10em;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*css codes for footer*/

 footer{
        position: absolute;
  bottom: 0;
  width: 100%;
     background-color: #0A2E56;
    color: white;
    text-align: left;
    height: 12em;
  }

.content-footer{
margin: 2em;
padding-top: .6em;
  }

/*css for body!*/
h2{
    text-align: center;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

  .content h1{
    display:inline-block;
  }
 .form01{

    text-align: left;
    margin:5em 5em 12em 8em;
  }
  .form02{

    text-align: center;
    margin-top:3em;
  }

.form02 input{
    height: 3em;
    margin-bottom: 1em;
}
#form_admin{
    margin-top: 5em;
  margin-left: 15em;
  text-align: left;
}
.form03 input{
      height: 2.5em;
    margin-bottom: .2em;
}

  #content-wrap {
  padding-bottom: 1rem;
}
  #content-wrap-forgot {
  padding-bottom: 1em;    /* Footer height */
      margin-top: 10em;
}

/*css for buttons*/

.userbtn{
    width: 20em;
    height: 3em;
    background-color: black;
    color: white;
}

.wrapper button {
    margin-left: 0;
    margin-bottom: 8em;
    width: 20em;
    height: 3em;
    background-color: black;
    color: white;
}



/*css rows and columns*/

.column {
  float: left;
  width: 45%;
}

.row2{
    width: 60%;
    height: 20em;
    margin-left: 5em;
}

.row{
  margin: 3em 5em 5em 5em;
}

.column1 {
  float: left;
  width: 33.33%;
  margin: 3em 0 0 10em;
}

.column2 {
  float: left;
  width: 33.33%;
  margin: 4em 0 0 10em;
}
.column-home {
  float: left;
  width: 20%;
  margin: 0 0 0 10em;
}
.column2 input{
          height: 2.5em;
    margin: 1em;
}
.do{
    text-align: center;
    margin-left: 5em;
}

/*CSS codes for circle in output.html*/

.circle{
  width:400px; 
  height:400px; 
  background-color:#a1a1a1; 
  border-radius: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30;
}

.circle button{
      position: absolute;
    top:  70%; 
    left: 43.5%;
}

.circle h3{
          position: absolute;
    top:  48%; 
    left: 48%;  
}

.circle h4{
          position: absolute;
    top:  50%; 
    left: 42.5%;  
}
.circle p{
margin: 1em;
}

.midCircle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em;
}

.bottom{
  width: 100%;
}

.imgfooter{

  padding-bottom: 12em;
}

/* added style to the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
}
 .error{
   color: red;
   font-weight: bold;
 }

/*# sourceMappingURL=/main.d2070829.css.map */